<%= if tag do %>
  <h3>
    Notes tagged with <b>#<%= tag %></b>
  </h3>
<% end %>
<ul>
  <%= for note <- notes do %>
    <li>
      <a href="/<%= note.slug %>"><%= note.title %></a>
    </li>
  <% end %>
</ul>
